dialog::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  &.center-dialog {
    margin: auto;

    &.modal-body {
      border-radius: 20px;
      padding: 36px;
      max-width: 478px;
      margin-bottom: 0;
      color: #33373b;

      p {
        text-align: center;
        line-height: 16px;
      }

      .block {
        display: flex;
        margin-bottom: 10px;

        label {
          display: inline-block;
          width: 140px;
          text-align: right;
          margin-right: 10px;
          align-self: center;
        }
      }

      button {
        display: flex;
        margin: 10px auto;
        padding: 0 18px;
        font-weight: bold;
      }
    }
  }
}
