.card-container {
  margin: 0 auto;

  .title {
    font-size: 30px;
    margin: 10px 0px;
  }
  
  img {
    width: 80px;
    padding: 1px;
    border: 2px solid transparent;

    &.disapprove {
      &:hover {
        cursor: pointer;
        border: 2px solid red;
      }
    }
  }
}
