table {
  width: 1000px;
}

.room {
  border: 1.5px solid black;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  width: 185px;
}

.horizontal-hall {
  height: 25px;
  width: 100px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.vertical-hall {
  width: 25px;
  height: 100px;
  margin: 0 auto;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.player {
  color: white;
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  background-color: red;
  height: 25px;
  width: 75px;

  &.in-room {
    margin: 85px auto 0 auto;
  }

  &.in-horz-hall {
    position: relative;
    left: 13px;
  }

  &.in-vert-hall {
    position: relative;
    left: -100%;
    top: 40px;
  }
}

.path {
  border-color: red;
  animation: blinker 2s linear infinite;

  &:hover {
    cursor: pointer;
  }
}

@keyframes blinker {
  0% {
    border-color: rgb(255, 0, 0);
  }
  50% {
    border-color: rgba(255, 0, 0, 0);
  }
  100% {
    border-color: rgba(255, 0, 0, 1);
  }
}
