.console-container {
  width: 100%;
  margin: 0 auto;

  .title {
    font-size: 30px;
    margin: 10px 0px;
  }

  .block {
    display: flex;
    margin-bottom: 10px;

    label {
      display: inline-block;
      width: 140px;
      text-align: right;
      margin-right: 10px;
      align-self: center;
    }
  }

  .announce {
    button {
      margin: 0px 5px;
    }
  }

  .output {
    label {
      margin-top: 20px;
      display: block;
      text-decoration: underline;
      font: italic;
    }

    textarea {
      width: 92%;
      min-height: 250px;
      margin: 10px 4%;
      overflow: auto;
      resize: vertical;
    }
  }
  
}
